ESSENTIAL:
  -Python (http://www.python.org/download/)
     Tested with Python 2.5.4.  Probably mostly backwards compatible with 2.4.x/2.3.x.  Probably not fully compatible with 3.x.x and beyond
  -PyGame (http://www.pygame.org/download.shtml)
     Tested with PyGame 1.8.1 and 1.9.1-svn2575
  -PyOpenGL (http://sourceforge.net/projects/pyopengl/files/)
     Tested with PyOpenGL 3.0.0xx
  -NumPy (http://sourceforge.net/projects/numpy/files/)
     Tested with NumPy 1.2.1

Everything tested on an NVidia 8400M GS graphics card.  I'm working with a friend for establishing ATI graphics card compatibility.  